<a href="https://colab.research.google.com/github/himanshu1279/ML_project/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
import numpy as np

In [71]:
path = '/content/covid.csv'

In [72]:
df = pd.read_csv('covid.csv',)
df.head()

       id  sex  patient_type  ... contact_other_covid covid_res icu
0  16169f    2             1  ...                   2         1  97
1  1009bf    2             1  ...                  99         1  97
2  167386    1             2  ...                  99         1   2
3  0b5948    2             2  ...                  99         1   2
4  0d01b5    1             2  ...                  99         1   2

[5 rows x 23 columns]

In [73]:
df.describe()

                 sex   patient_type  ...      covid_res            icu
count  566602.000000  566602.000000  ...  566602.000000  566602.000000
mean        1.506726       1.215165  ...       1.728651      76.562864
std         0.499955       0.410937  ...       0.658710      39.059060
min         1.000000       1.000000  ...       1.000000       1.000000
25%         1.000000       1.000000  ...       1.000000      97.000000
50%         2.000000       1.000000  ...       2.000000      97.000000
75%         2.000000       1.000000  ...       2.000000      97.000000
max         2.000000       2.000000  ...       3.000000      99.000000

[8 rows x 19 columns]

In [74]:
df.shape

(566602, 23)

In [75]:
df.drop(columns={'entry_date','date_died','date_symptoms','id'},axis=1,inplace=True)
df.shape

(566602, 19)

In [76]:
df["sex"].value_counts()
# 2 = femalee
# 1 = male

2    287112
1    279490
Name: sex, dtype: int64

In [77]:
df['covid_res'].value_counts().to_frame()

   covid_res
2     279035
1     220657
3      66910

TEST RESULT

1 = positive

2 = negative

3 = awaiting

Now here,we are replacing 1 with 1,2 with 0 and 3 with 2

In [78]:
df['covid_res'].replace([1,2,3],[1,0,2],inplace=True)
df['covid_res'].value_counts().to_frame()

   covid_res
0     279035
1     220657
2      66910

In [79]:
df['covid_res'].value_counts().sort_index()

0    279035
1    220657
2     66910
Name: covid_res, dtype: int64

In [80]:
df.rename(columns={'covid_res':'Chance'},inplace=True)
df.head()

   sex  patient_type  intubed  ...  contact_other_covid  Chance  icu
0    2             1       97  ...                    2       1   97
1    2             1       97  ...                   99       1   97
2    1             2        2  ...                   99       1    2
3    2             2        2  ...                   99       1    2
4    1             2        2  ...                   99       1    2

[5 rows x 19 columns]

In [81]:
df=df[df['Chance']!=2]

In [82]:
df['Chance'].value_counts().sort_index()

0    279035
1    220657
Name: Chance, dtype: int64

INTUBED

In [83]:
df=df[df['intubed']!=97]
df['intubed'].value_counts().sort_index()

1      9103
2     98321
99      122
Name: intubed, dtype: int64

In [84]:
df=df[df['intubed']!=99]
df['intubed'].value_counts().to_frame()

   intubed
2    98321
1     9103

PNEUMONIA

In [85]:
df=df[df['pneumonia']!=99]
df['pneumonia'].value_counts().sort_index()

1    66080
2    41344
Name: pneumonia, dtype: int64

Pregnancy

In [86]:
df=df[df['pregnancy']!=97]
df=df[df['pregnancy']!=98]
df['pregnancy'].value_counts().sort_index()

1      969
2    41821
Name: pregnancy, dtype: int64

Diabetes

In [87]:
df=df[df['diabetes']!=98]
df['diabetes'].value_counts().sort_index()

1    13502
2    29094
Name: diabetes, dtype: int64

C.O.P.D

In [88]:
df=df[df['copd']!=98]
df['copd'].value_counts().sort_index()

1     2267
2    40307
Name: copd, dtype: int64

ASTHMA

In [89]:
df=df[df['asthma']!=98]
df['asthma'].value_counts().sort_index()

1     1578
2    40988
Name: asthma, dtype: int64

Inmsupr

In [90]:
df=df[df['inmsupr']!=98]
df['inmsupr'].value_counts().sort_index()

1     1983
2    40541
Name: inmsupr, dtype: int64

Hypertension

In [91]:
df=df[df['hypertension']!=98]
df['hypertension'].value_counts().sort_index()

1    15713
2    26800
Name: hypertension, dtype: int64

OTHER_DISEASE

In [92]:
df=df[df['other_disease']!=98]
df['other_disease'].value_counts().sort_index()

1     3044
2    39342
Name: other_disease, dtype: int64

Cardiovascular

In [93]:
df=df[df['cardiovascular']!=98]
df['cardiovascular'].value_counts().sort_index()

1     2402
2    39973
Name: cardiovascular, dtype: int64

Obesity

In [94]:
df=df[df['obesity']!=98]
df['obesity'].value_counts().sort_index()

1    10013
2    32311
Name: obesity, dtype: int64

Renal Chronic

In [95]:
df=df[df['renal_chronic']!=98]
df['renal_chronic'].value_counts().sort_index()

1     2706
2    39607
Name: renal_chronic, dtype: int64

Tobacco

In [96]:
df=df[df['tobacco']!=98]
print(df['tobacco'].value_counts())

2    40303
1     1988
Name: tobacco, dtype: int64

In [97]:
df['tobacco'].value_counts().sort_index()

1     1988
2    40303
Name: tobacco, dtype: int64

Contact with Covid Person

In [98]:
df=df[df['contact_other_covid']!=99]
df['contact_other_covid'].value_counts().sort_index()

1     6178
2    14174
Name: contact_other_covid, dtype: int64

ICU

In [99]:
df=df[df['icu']!=99]
df=df[df['icu']!=97]

df['icu'].value_counts().sort_index()

1     2391
2    17961
Name: icu, dtype: int64

As we have removed unwanted rows, now we'll reset index

In [100]:
df.reset_index(drop=True,inplace=True)
df.head(10)

   sex  patient_type  intubed  ...  contact_other_covid  Chance  icu
0    1             2        2  ...                    1       1    2
1    1             2        2  ...                    1       1    2
2    1             2        2  ...                    1       1    2
3    1             2        1  ...                    1       1    2
4    1             2        2  ...                    1       1    2
5    1             2        2  ...                    2       1    2
6    1             2        2  ...                    2       1    2
7    1             2        2  ...                    1       1    1
8    1             2        2  ...                    1       1    2
9    1             2        2  ...                    2       1    2

[10 rows x 19 columns]

Splitting the data into train and test

In [106]:
train=df[['sex', 'patient_type', 'intubed', 'pneumonia', 'age', 'pregnancy',
       'diabetes', 'copd', 'asthma', 'inmsupr', 'hypertension',
       'other_disease', 'cardiovascular', 'obesity', 'renal_chronic',
       'tobacco', 'contact_other_covid', 'icu']]

In [107]:
test=df['Chance']
train=train.values
test=np.array(test)

Splitting further into 8:2 ratio

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
x_train,x_test,y_train,y_test=train_test_split(train,test,test_size=0.2,random_state=42,stratify=test)
print("Size of X_train is:{}\nSize of Y_train is:{}\nSize of X_test is:{}\nSize of Y_test is:{}\n".format(x_train.shape, y_train.shape, x_test.shape,y_test.shape ))

Size of X_train is:(16281, 18)
Size of Y_train is:(16281,)
Size of X_test is:(4071, 18)
Size of Y_test is:(4071,)

In [105]:
acc=[]